

<style>
    
    .card-block{padding: 0!important;}
    .btn-outline-info {
        color: #fff;
        background-image: none;
        background-color: #10827d;   
    }
    .right-checkbox{
        margin-left: 30px;
        margin-top: 15px;
    }
    
    </style>
    <div class="app-content content container-fluid ng-scope">
        <div class="content-wrapper">
            <div class="content-body">
               
                <section>
                    <div class="row">
                        <div class="col-sm-7 offset-sm-3">
                            <div class="card">
                                <div class="card-body collapse in">
                                    <div class="card-block">
                                        <div class="header _clearfix">
                                            
                                            <h1 class="ng-binding ng-scope">COMMENTRY DETAIL</h1></div>
                                        
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <span class="danger">*</span>
                                                    <label>Sport Name</label>
                                                    <select class="form-control ng-pristine ng-untouched ng-valid localytics-chosen ng-empty" aria-label="Sport">
                                                        <option value="">---Select sport---</option>
                                                        <option class="ng-binding ng-scope" value="Cricket">Cricket</option>
                                                        <option class="ng-binding ng-scope" value="Soccer">Soccer</option>
                                                        <option class="ng-binding ng-scope" value="Tennis">Tennis</option>
                                                        
                                                    </select>
                                                    <div class="chosen-container chosen-container-single" title=""><a class="chosen-single" tabindex="-1"></a>
                                                        <div class="chosen-drop">
                                                            <div class="chosen-search"></div>
                                                            <ul class="chosen-results"></ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                 <div class="col-md-6">
                                                <div class="form-group">
                                                    <span class="danger">*</span>
                                                    <label>Name</label>
                                                    <input type="text" maxlength="20" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" class="form-control border-primary ng-pristine ng-untouched ng-valid ng-empty" style="height: 38px;" name="name" aria-label="input">
                                                </div>
                                            </div>
                                        </div>
                                  
    
                                        <div class="row">
                                            <div class="col-md-12">
                                                  <div class="form-group">
                                                    <span class="danger">*</span>
                                                    <label>Description</label>
                                                    <textarea rows="4" class="form-control border-primary ng-pristine ng-untouched ng-valid ng-empty" name="Description"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
    
                                        <div class="row">
                                            <div class="col-md-6">
                                                <fieldset class="right-checkbox" >
                                                    <label class="custom-control custom-checkbox block">
                                                        <input type="checkbox" class="custom-control-input ng-pristine ng-untouched ng-valid ng-empty">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">Is Active</span>
                                                    </label>
                                                </fieldset>
                                            </div>
                                      </div>
                                      <br>
                                        <div class="form-actions" style="text-align: center;">
                                           
                                            <button type="button" class="mr-1 mb-1 btn btn-outline-info btn-min-width ng-scope" style=""><i class=""></i> Add New</button>
                                            
                                            <button type="button" onclick="location.href='#!/commentry'" class="mr-1 mb-1 btn btn-outline-danger btn-min-width">Cancel</button>
                                           
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                </div>
                       
                    
                </section>
               </div>
            </div>
        </div>
    
    
    
