<style>
   

    .card-block{padding: 0!important;}
    
    .btn-outline-info {
        color: #fff;
        background-image: none;
        background-color: #10827d;   
    }
       
    </style>
    <div class="app-content content container-fluid ng-scope">
       <div class="content-wrapper">
          <div class="content-body">
            
             <section>
                <div class="row">
                   <div class="col-sm-6 offset-sm-3">
                      <div class="card">
                         <div class="card-body collapse in">
                            <div class="card-block">
                              <div class="header _clearfix">
                                <h1 class="ng-binding ng-scope">Ticker Details</h1>
                               </div>
                               <br>
                               <div class="row">
                                  <div class="col-md-12">
                                     <div class="form-group">
                                        <span class="danger">*</span>
                                        <label>Title</label>
                                        <input type="text" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"  class="form-control border-primary ng-pristine ng-untouched ng-valid ng-empty" name="name" aria-label="input">
                                     </div>
                                  </div>
                               </div>
                               <br>
                               <div class="row">
                                  <div class="col-md-8">
                                     <div class="form-group">
                                        <div class="row skin skin-line">
                                          
                                        </div>
                                        <br>
                                        <div class="row skin skin-line" style="margin-top: -30px">
                                           <div class="col-md-6 col-sm-12">
                                              <fieldset class="right-checkbox">
                                                 <label class="custom-control custom-checkbox block">
                                                 <input  type="checkbox" class="custom-control-input ng-pristine ng-untouched ng-valid ng-empty" id="isActive">
                                                 <span class="custom-control-indicator"></span>
                                                 <span class="custom-control-description">Is Active</span>
                                                 </label>
                                              </fieldset>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                              <div class="form-actions" style="text-align: center;">
                                          
                                            <button type="button" class="mr-1 mb-1 btn btn-outline-info btn-min-width ng-scope"><i class=""></i> Add New</button>
                                            
                                            <button type="button" class="mr-1 mb-1 btn btn-outline-danger btn-min-width">Cancel</button>
                                            
                                        </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </section>
            
          </div>
       </div>
    </div>
    
    