<div class="-full-size">
   <app-header></app-header>
   <div class="content">
      <div class="left-pane-wrapper">
         <div class="left-pane">
            <nav class="menu ng-isolate-scope" [ngClass]="{'-collapsed': isCollapsed}">
            <app-sidebar></app-sidebar>
            </nav>
            <div class="collapsible-panel" (click)="toggleCollapse()" [ngClass]="{'-collapsed': isCollapsed}">
               <div class="ng-binding" *ngIf="!isCollapsed">«</div>
               <div class="ng-binding" *ngIf="isCollapsed">»</div>
            </div>
         </div>
      </div>
      <div class="mid-pane" [ngClass]="{'collapsed-menu' : isMenuCollapsed}">
         <app-midpane></app-midpane>
         <section class="apl-section">
            <!-- <h2 style="display: none;">asffsf</h2> -->
            <router-outlet></router-outlet>
         </section>
      </div>
   </div>
   <app-footer></app-footer>
</div>