<footer class="ng-binding ng-scope footer">
        <a href="" class="ng-isolate-scope" data-toggle="modal" data-target="#Rules">Rules &amp; Regulations</a>
        © 2016-2018
        <div class="modal" id="Rules">
           <div class="modal-dialog">
              <div class="modal-content">
                 <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1>THE SITE RULES AND REGULATIONS</h1>
                    <h3>PART A - INTRODUCTION</h3>
                    <h4>1.Use and interpretation</h4>
                    <p>These Rules and Regulations ("<b>Rules</b>") are part of the Site's <span></span>terms and conditions.</p>
                    <p>The Rules apply to all bets placed on this online betting platform ("<b>Site</b>"). The Rules consist of the following:</p>
                    <ul>
                       <li>This INTRODUCTION section (Part A);</li>
                       <li>The GENERAL RULES (set out in Part B below); and</li>
                       <li>The SPECIFIC SPORTS RULES (set out in Part C below - these apply to certain sports).</li>
                    </ul>
                    <p>The General Rules apply to all bets unless stated otherwise in the Specific Sports Rules. If there is any inconsistency between the Specific Sports Rules and the General Rules, the Specific Sports Rules shall prevail.</p>
                    <p>The rules governing how markets are offered, managed and/or settled are not the same for every market on each product. In certain circumstances, a bet that is settled as a winner on one product may be settled as a loser on the other product (and vice versa). Additionally, different settlement rules may apply so that, for example, bets that are a winner on one product may be settled as a dead heat or be voided on the other product. Customers must ensure that they familiarise themselves with the relevant rules that apply to the bets that they place on the Site.</p>
                    <h4>2.Customer responsibility</h4>
                    <ul>
                       <li>Customers should make themselves aware of all of the Rules affecting any market on which they wish to place a bet.</li>
                       <li>In particular, customers who use the "one-click" option to place bets are solely responsible for their actions and the Site shall have no liability to such customers for any errors made by customers when using this option.</li>
                    </ul>
                 </div>
                 <div class="modal-body">
                    <h3>PART B - GENERAL RULES</h3>
                    <h4>1.Matters beyond the Site's reasonable control and malfunctions</h4>
                    <p>The Site is not liable for any loss or damage you may suffer because of any: act of God; power cut; trade or labour dispute; act, failure or omission of any government or authority; obstruction or failure of telecommunication services; or any other delay or failure caused by a third party or otherwise outside of our control. In such an event, the Site reserves the right to cancel or suspend access to the Site without incurring any liability.</p>
                    <p>The Site is not liable for the failure of any equipment or software howsoever caused, wherever located or administered, or whether under its direct control or not, that may prevent the operation of the Site.</p>
                    <p>In the event of a technological failure or error which is apparent to the customer, the customer is obliged to notify the Site of such failure/error immediately. If the customer continues to place a bet in these circumstances, they shall take reasonable action to minimise any potential loss. In the absence of such action, the Site reserves the right to void a bet.</p>
                    <p>The Site reserves the right in its absolute discretion to restrict access to the Site, or withhold funds or void any bets outstanding to a customer’s account in its absolute discretion in the event of a technological failure or other malfunction which affects the integrity of the Site whether this is under its direct control or otherwise. Customers will be notified on the Site of any such malfunction which may operate to prevent the placing of further bets or which may result in outstanding bets being voided.</p>
                    <h4>2.Managing markets In-Play</h4>
                    <h5>General</h5>
                    <ul>
                       <li>If a market is not scheduled to be turned in-play but the Site fails to suspend the market at the relevant time, then:</li>
                       <li>if the event has a scheduled 'off' time, all bets matched after that scheduled off time will be void; and</li>
                       <li>if the event does not have a scheduled 'off' time, the Site will use its reasonable endeavours to ascertain the time of the actual 'off' and all bets after the time of the 'off' determined by the Site will be void.</li>
                       <li>The Site aims to use its reasonable endeavours to suspend in-play markets at the start of and at the end of the event. However, the Site does not guarantee that such markets will be suspended at the relevant time.</li>
                       <li>Customers are responsible for managing their in-play bets at all times.</li>
                       <li>For the purposes of in-play betting, customers should be aware that transmissions described as "live" by some broadcasters may actually be delayed or pre-recorded. The extent of any delay may vary depending on the set-up through which they are receiving pictures or data.</li>
                    </ul>
                    <h4>3.Soccer markets - not suspending at kick-off or on the occurrence of a Material Event and rules relating to VAR</h4>
                    <ul>
                       <li>Not suspending at kick-off</li>
                       <li>In relation to soccer markets that are <u>scheduled to be turned in-play</u>, the Site aims to use its reasonable endeavours to turn such markets in-play at kick-off and to suspend such markets on the occurrence of a Material Event (see definition of "Material Event" below).</li>
                       <li>The Site does not guarantee that such markets will be suspended and turned in-play at kick-off.</li>
                       <li>If a market is scheduled to be turned in-play but the Site does not suspend the market at kick-off and the market is not turned in-play at any time during the match, all bets matched after the scheduled time of the kick-off will be void.</li>
                       <li>If a market is scheduled to be turned in-play but the Site does not suspend the market at kick-off (so unmatched bets are not cancelled at that time), but the market is turned in-play at a later time during the match, all bets matched after the scheduled time of the kick-off and before the first "Material Event" will stand. However, if there has been one or more "Material Events", any bets matched between the first "Material Event" and the market being turned in-play will be void.</li>
                       <li>Not suspending on the occurrence of a Material Event and cancellations of Material Events due to VAR</li>
                       <li>If the Site does not suspend a market on time for the occurrence of a Material Event, the Site reserves the right to void bets unfairly matched after the Material Event has occurred. Voiding of these bets may take place during the event or retrospectively once a game is completed.</li>
                       <li>Where a Material Event is cancelled due to a determination made via a video assistant referee, the Site will void all bets which are matched between the occurrence of the Material Event and the cancellation of it. The voiding of any such bets may take place during the event or retrospectively once a game is completed.</li>
                       <li>Definition of "Material Event"</li>
                       <li>For the purpose of these Rules, a "Material Event" shall mean a goal being scored, a penalty being awarded or a player being sent off.</li>
                    </ul>
                    <h4>4.Results and market settlement</h4>
                    <h5>General</h5>
                    <ul>
                       <li>Markets will be settled in accordance as set out in the Specific Sports Rules.</li>
                       <li>Where the Specific Sports Rules do not specify how and on what basis a market will be settled, markets will be settled on the official result of the relevant governing body regardless of any subsequent disqualification or amendment to the result (except if an amendment is announced within 24 hours of the initial settlement of the relevant market in order to correct an error in reporting the result).</li>
                       <li>In the event of any uncertainty about any result or potential result, the Site reserves the right to suspend settlement of any market for an unlimited period until the uncertainty can be resolved to the reasonable satisfaction of the Site. The Site reserves the right to void any market if the uncertainty regarding settlement cannot be resolved to the Site's reasonable satisfaction.</li>
                    </ul>
                    <h4>5.Resettlements</h4>
                    <ul>
                       <li>Markets are generally settled shortly after the end of the event in question. the Site may settle (or part-settle) some markets before the official result is declared (or may increase a customer's 'available to bet' balance by the minimum potential winnings of that customer on a given market) purely as a customer service benefit. However, the Site reserves the right to amend the settlement of the market if: (i) the official result is different to the result on which the Site initially settled the market ; or (ii) if the whole market is eventually voided (e.g. for an abandoned event).</li>
                       <li>The Site reserves the right to reverse the settlement of a market if a market is settled in error (for example, a human or technical error).</li>
                       <li>If The Site resettles a market, this may lead to amendments being made to a customer's balance to reflect changes in market settlement.</li>
                    </ul>
                    <h4>6.Non-runners, withdrawals and disqualifications</h4>
                    <ul>
                       <li>Subject always to the Site's right to void bets under its terms and conditions or for any exception under the Rules, if a market contains a statement that says "All bets stand, run or not" (or something similar), then all bets on a team or competitor will stand regardless of whether or not the team or competitor starts the event or takes any part in the event.</li>
                       <li>If a team or competitor is disqualified, withdraws or forfeits after starting an event they will be deemed a loser providing at least one other team or competitor completes the event. If no team or competitor completes an event (having started) then all bets will be void except for bets on any markets which have been unconditionally determined.</li>
                    </ul>
                    <h4>7.Winner with [named selection]' markets</h4>
                    <ul>
                       <li>The Site may from time to time offer markets that are dependent on the participation of a particular competitor. If the competitor named in a 'Winner with …' market title does not participate in the tournament or event then all bets on the market will be void.</li>
                       <li>A team or competitor will be deemed to have participated if they have taken part to the extent necessary to record an official result or classification (including any disqualification but excluding any "did not start" or equivalent classification).</li>
                    </ul>
                    <h4>8.Abandonments, Cancellations, Postponements</h4>
                    <p>Some markets have different rules and these are listed in the Specific Sports Rules. However, where a market has no rules in the Specific Sports Rules in relation to an abandonment, cancellation and/or postponement the following shall apply.</p>
                    <p>In relation to any match, fixture, game, individual event, or similar: If the event is not completed within three days after the scheduled completion date, then all bets on markets for this event will be void, except for bets on any markets that have been unconditionally determined.</p>
                    <p>In relation to any tournament, competition or similar: If the event is not completed within three days after the scheduled completion date, then any markets relating to the event will be settled in accordance with the official ruling of the relevant governing body, providing such a decision is given within 90 days after the scheduled completion date. If no official ruling is announced in this 90 day period, then bets on any market relating to this event will be void, except for bets on any markets which have been unconditionally determined. If a market is to be voided but has been part-settled as a courtesy to customers, then such part-settled bets will be reversed and all bets on the market will be void.</p>
                    <p>The Site will decide (acting reasonably) whether a market relates to a match (or similar) or a tournament (or similar).</p>
                    <h4>9.Change of venue</h4>
                    <p>Some markets have different rules and these are listed in the Specific Sports Rules.</p>
                    <p>However, if change of venue is not dealt with in the Specific Sports Rules then the following shall apply:</p>
                    <ul>
                       <li>For any team sport: if the scheduled venue is changed after the market is loaded by the Site, all bets will be void only if the new venue is a home ground of the original away team</li>
                       <li>For all categories or markets other than team sports: if the scheduled venue is changed after the market is loaded by the Site, all bets will stand.</li>
                       <li>If there is a change in the type of scheduled surface after the market has been loaded, all bets will stand.</li>
                    </ul>
                    <h4>10.Periods of time</h4>
                    <p>Some markets have different rules and these are listed in the Specific Sports Rules. However, if not dealt with in the Specific Sports Rules then the following shall apply.</p>
                    <p>If the scheduled duration of an event is changed after the market has been loaded but before the start of the event, then all bets will be void.</p>
                    <p>Some markets refer to the length of time until an occurrence in the event (e.g. time of first goal). If an event happens in stoppage or injury time after any regular time period then it will be deemed to have occurred at the end of the regular time period. For example, if a goal is scored in first half stoppage-time in a soccer match it will be deemed to have occurred on 45 minutes.</p>
                    <p>All bets apply to the relevant full 'regular time' period including stoppage time. Any extra-time and/or penalty shoot-out is not included.</p>
                    <p>References within these Rules to a particular number of 'days' shall mean the end of the day local time after the expiry of the specified number of days.</p>
                    <h4>11."To qualify" markets</h4>
                    <p>Some markets have different rules and these are listed in the Specific Sports Rules. However, if not dealt with in the Specific Sports Rules then the following shall apply.</p>
                    <p>Any 'to qualify' market (e.g. "to reach the final" markets) will be determined by the competitor or team that qualifies, whether or not they take part in the next round or event for which they have qualified. Markets will be settled after the qualifying stage and any subsequent disqualification or amendment to the result will not count.</p>
                    <h4>12.Dead heats</h4>
                    <p>Unless stated otherwise in the Specific Sports Rules the Dead Heat Rule applies to bets on a market where there are more winners than expected.</p>
                    <p>For each bet matched on a relevant winning selection, the stake money is first reduced in proportion by multiplying it by the sum of the number of winners expected, divided by the number of actual winners (i.e. stake multiplied by (number of winners expected/number of actual winners)). The winnings are then paid to the successful backers on this 'reduced stake' (reduced stake multiplied by traded price) and the remaining stake money is paid to the appropriate layers.</p>
                    <h4>13.Miscellaneous</h4>
                    <p>will be rounded up or down to the nearest two decimal places</p>
                    <h4>14.Multiple accounts</h4>
                    <p>Customers are not permitted to hold multiple accounts. Customers who continue to operate multiple accounts will have their accounts "linked" and managed accordingly which may affect the extent to which bets can be placed on the Site.</p>
                    <p>If the Site believes, in its absolute discretion, that customers have registered and/or used more than one account, and/or acted in collusion with one or more other individuals through a number of different accounts, the Site reserves the right to void bets and/or withhold any winnings arising from such a behaviour.</p>
                 </div>
              </div>
           </div>
        </div>
    </footer>
    